/* HTML Tags */
html,body{
    height: 100%;
    background: #f6f6f6;
}
body,div,h1,h2,h3,h4,h5,p,ul,li,a{
    margin: 0 auto;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#363636;
    list-style: none;
    text-decoration: none;
}
p{
    text-align:justify;
    line-height: 1.5em;
    letter-spacing: 0.2em;
}

/* ---------- public ---------- */
.full-page{
    flex:1;
    min-height:100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* ---------- nav ---------- */
.nav{
    position: fixed;
    background:#f6f6f6;
    width:100%;
    z-index:100;
    top:0;
    left:0;
}
.nav li{
    display: inline-flex;
    margin:1em 0;
    margin-left:2em;
}
.nav a{
    color:#363636;
}
.nav a:hover{
    color:#747474;
}

@media screen and (max-width:1000px){
    .nav{
        display: none;
    }
}

/* ---------- home ---------- */
#home{
    background: url("./img/portrait.jpg") no-repeat;  
    background-position: left bottom;
    background-size:30% auto;
}
#home .contents{
    width:40%;
    margin-left:50%;
}
#home h2{
    font-size:1.3em;
    color:#747474;
}
#home p{
    letter-spacing: 0em;
    margin-top:1em;
}

@media screen and (max-width:1000px){
    #home{
        background: url("./img/portrait.jpg") no-repeat;  
        background-position: left bottom;
        background-size:50% auto;
    }
    #home .contents{
        width:90%;
        margin:3em auto;
    }
}

/* ---------- skills ---------- */
#skills{
    background:#2b2b2b;
}
#skills *{
    color:#f6f6f6;
    opacity: 0.95
}
#skills .contents{
    width:80%;
}
#skills li{
    float: left;
    width:46%;
    margin-right:3%;
}
#skills li *{
    width:100%;
}
#skills img{
    max-width:5em;
    margin:3em auto 0.5em auto;
}
#skills p{
    margin-top:0.5em;
    font-size:0.7em;
}

@media screen and (max-width:1000px){
    #skills .contents{
        width:90%;
        margin:3em auto;
    }
    #skills li{
        float: left;
        width:100%;
    }
}


/* ---------- experiences ---------- */
#experiences{
    background: #fff;
}
#experiences .contents{
    width:80%;
}
#experiences li{
    float: left;
    width:30%;
    height:12em;
    margin-right:3%;
    margin-top:3%;
    border-radius: 1em;
    box-shadow: 0 0 1em #ececec;
    cursor: pointer;
}
#experiences li:hover{
    opacity: 0.9;
}
#experiences li *{
    color:#f6f6f6;
}
#experiences li h3{
    text-align: center;
    margin-top:4em;
}
#experiences li h4{
    text-align: center;
    margin-bottom:2.4em;
}
#experiences li h5{
    font-size:0.3em;
    margin-left:1em;
}

@media screen and (max-width:1000px){
    #experiences .contents{
        width:90%;
        margin:3em auto;
    }
    #experiences li{
        float: left;
        width:100%;
    }
}


/* ---------- design ---------- */
#design .contents{
    width:80%;
}
#design p{
    font-size:0.7em;
    margin-top:0.5em;
    margin-bottom:3em;
}
#design li{
    float: left;
    width:30%;
    margin-right:3%;
    margin-top:3%;
}
#design li img{
    width:100%;
}

@media screen and (max-width:1000px){
    #design .contents{
        width:90%;
        margin:3em auto;
    }
    #design li{
        float: left;
        width:100%;
        margin:0;
    }
}


/* ---------- design2 ---------- */
#design2{
    background: #cccdc8;
}
#design2 .contents{
    width:80%;
}
#design2 p{
    font-size:0.7em;
    margin-top:0.5em;
    margin-bottom:3em;
}
#design2 li{
    float: left;
    width:33%;
}
#design2 li img{
    width:100%;
}

@media screen and (max-width:1000px){
    #design2 .contents{
        width:90%;
        margin:3em auto;
    }
    #design2 li{
        float: left;
        width:100%;
        margin:0;
    }
}

/* ---------- photography ---------- */
#photography{
    background:#2b2b2b;
}
#photography *{
    color:#f6f6f6;
    opacity: 0.95
}
#photography .contents{
    width:90%;
    margin:5em auto;
}
#photography h1{
    text-align: center;
    margin-bottom:1em;
}
#photography li{
    float: left;
    width:19%;
    margin-right:1%;
    margin-top:1%;
}
#photography li img{
    width:100%;
}

@media screen and (max-width:1000px){
    #photography .contents{
        width:100%;
        margin:3em 0;
    }
    #photography li{
        float: left;
        width:31%;
        margin-left:1%;
    }
}


/* ---------- contact ---------- */
#contact img{
    width:9em;
}
#contact h5{
    text-align: center;
}