/* HTML Tags */
html,body{
    height: 100%;
    background: #f6f6f6;
}
body,div,h1,h2,h3,h4,h5,p,ul,li,a{
    margin: 0 auto;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:#363636;
    list-style: none;
    text-decoration: none;
}
body{
    padding-bottom:4em;
}
a{
    color:#1595eb;
}
p{
    width:100%;
    text-align:justify;
    line-height: 1.5em;
    margin:0.5em 0;
}

/* ---------- public ---------- */
.full-page{
    flex:1;
    min-height:100%;
    display: flex; 
    justify-content: center; 
    align-items: center;
}

/* ---------- nav ---------- */
.nav{
    position: fixed;
    background:#363636;
    width:100%;
    z-index:100;
    top:0;
    left:0;
}
.nav ul{
    width:1000px;
}
.nav li{
    display: inline-flex;
    margin:1em 0;
    margin-right:2em;
}
.nav a{
    color:#f6f6f6;
}
.nav a:hover{
    color:#747474;
}

@media screen and (max-width:1000px){
    .nav{
        display: none;
    }
}

/* ---------- content ---------- */
#page{
    width:1000px;
    margin:5em auto;
}
h3{
    color:#747474;
    margin:0.5em 0;
}
#content h2{
    width:100%;
    text-align: center;
    margin:3em 0 1em 0;
}
#content img{
    max-width:100%;
}
#content .show{
    width:30%;
    border-radius: 1em;
    border:1px solid #eeeeee;
}
#content iframe{
    width:100%;
    min-height:400px;
}
#content *{
    float:left;
}
#content li{
    width:30%;
    margin-right:3%;
    margin-top:3%;
    text-align: center;
}
#content li h4{
    width:100%;
    text-align: center;
    font-size:2em;
    margin:0.4em 0 0 0;
    color:#1595eb;
}
#content li h5{
    color:#747474;
    width:100%;
    text-align: center;
}
#content li img{
    border-radius: 1em;
    border:1px solid #eeeeee;
}

@media screen and (max-width:1000px){
    #page{
        width:90%;
        margin:3em auto;
    }
    #content img{
        width:100%;
        margin:2em 0;
    }
    #content iframe{
        min-height:200px;
    }
    #content li{
        float: left;
        width:100%;
    }
}